{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
  {% endif %}
{% endwith %}
<h1 class="title">
    {{course.name}}
</h1>
<h1 class='subtitle'>
    {{course.code}}
</h1>
<h1 class='subtitle'>
    Instructor: {{instructor}}
</h1>

{% if admin_access %}
<a href="/course/{{course.code}}/newlecture" class="button is-block is-info is-large">Upload a new lecture</a>
{% endif %}

{% for lecture in lectures %}
<br>
<article class="tile is-vertical notification is-warning">
    <a href='/lecture/{{lecture.id}}'>
      <p class="title">{{lecture.lecture_no}}</p>
      <p class="subtitle">{{lecture.name}}</p>
</a>
</article>
{% endfor %}

{% endblock %}