{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Add a new course!</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/newcourse">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="code" placeholder="Course code" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Course name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="reg_code" placeholder="Registration code" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Add course</button>
        </form>
    </div>
</div>
{% endblock %}